@model MvcStok.Models.Entity.TBLSATISLAR

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}



<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal1">
    Satış Yap
</button>


<div class="modal" id="Modal1">
    <div class="modal-dialog" style="max-width: 80% !important;" role="document">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Satış Yapma Ekranı</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form method="post" action="/Satis/YeniSatis">
                    <label>
                        Ürün Adı:
                    </label>
                    @Html.TextBoxFor(m => m.URUN, new { @class = "form-control" })
                    <br />

                    <label>Ürün Markası</label>
                    @Html.TextBoxFor(m => m.MUSTERI, new { @class = "form-control" })
                    <br />

                    <label>Adet</label>
                    @Html.TextBoxFor(m => m.ADET, new { @class = "form-control" })
                    <br />

                    <label>Fiyat</label>
                    @Html.TextBoxFor(m => m.FIYAT, new { @class = "form-control" })

                    <br />

                    <button class="btn btn-info">Satış İşlemini Yap</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>



                </form>
                <!-- Modal footer -->
                <div class="modal-footer">

                </div>
                
            </div>
        </div>
    </div>
