@model MvcStok.Models.Entity.TBLKATEGORILER
@{
    ViewBag.Title = "YeniKategori";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">

    @*<div>
        <label>Katgori Adı</label>
        <input type="type" class="form-control" name="KATEGORIAD"/>

    </div>
    <br />*@
    <div>
        <label>Katgori Adı</label>
        @Html.TextBoxFor(m=>m.KATEGORIAD, new {@class="form-control" })
        @Html.ValidationMessageFor(m=>m.KATEGORIAD,"",new {@style="color:blue"})
    </div>

    <div style="" margin-top:15px">

        <button class="btn btn-info">Kategori Ekle</button>

    </div>
</form>
